# InteliJ
.idea/
*.iml
*.iws

# Compiled output
target/
out/

# Java
*.class
*.jar
*.log
hs_err_pid*
replay_pid*
src/main/resources/application.properties

# H2 database files
*.mv.db
*.trace.db

# Build output
dist/

# Inno setup output
Output/
# Inno Setup backup files
*.iss.bak